<h1>Time to Pay the Pipr</h1>
<p><%= @user.name %>,</p>
<p>This the time of the month when we need to pay the piper for lending us cash to buy all the stuff we bought during the prior month. If we don't he will play his flute and force us to pay a late fee as well as interest</p>
<p>Your payment are as follows</p>
<p>Credit Card Issuer: <strong><%= @user.cc_name %></strong></p>
<p>Payment Due Date: <strong><%= @user.due_date %></strong></p>
