<div class="hero-unit">
	<h1>Credit Card Payment Reminder</h1>
	<p><br/><strong>Pay the Pipr</strong> ensures that you pay your credit card bills on time by reminding you a few days before the payment is due <strong>evey month</strong>. You can thus use your credit card effectively with out have to pay late fees and interest again!
</p>
<strong><%= link_to "Cool! Let me in!", new_user_path, :class => "btn primary large" %></strong>
</div>
