<div class="hero-unit">
	<style type="text/css">
		.hero-unit {
			background-color: Lavender;
			margin-bottom: 60px;
			padding-top: 20px;
			padding-right: 30px;
			padding-bottom: 20px;
			padding-left: 30px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
		}
	</style>
	<h1>Credit Card Payment Reminder</h1>
	<p><br/><strong>Pay the Pipr</strong> ensures that you pay your credit card bills on time by reminding you a few days before the payment is due <strong>evey month</strong>. You can thus use your credit card effectively with out have to pay late fees and interest again!
</p>
</div>
