<header>
	<div class="topbar">
		<div class="fill">
			<div class="container">
				<a class="brand" href="/">Pay the Pipr</a>
				<ul class="nav">
					<li class="active"><%= link_to "Home", root_path %></li>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
					</ul>
			</div>
		</div>
	</div>
</header>
